* {
  margin: 0;
  padding: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-auto-rows:auto;
    grid-column-gap: 5px;
    border: 1px;
  }

.wrapper > div > div{
  text-align: center;
  border: solid 1px;
  border-color: black;
  width: auto;
}

.chat {
  height:60dvw;
}

.chat_content_messages {
  min-height: 20dvw;
  padding-top: 5px;
}

.chat_content_messages div {
  display: block;
  position: relative;
}

.chat_content_messages > div > p{
  width: fit-content;
  margin: 0 10px;
}

.my_msg > p{
  margin-left: auto !important;
}

.their_msg > p {
  margin-right: auto !important;
}

.chat_content, .chat_content_panel {
  width: 100%;
  border: solid red 5 px;
}

.chat_content_panel_table {
  vertical-align: middle;
  width: 100%;
}

.chat_content_panel_table td th{
  width: 50%;
}

.message {
  resize: none;
  display: inline-block;
  width: 100%;
  padding: 2px 5px;
}

.submit {
  display: inline-block;
}
/* body {
  background-color: blue;
} */

.chat_user {
  height: 50px;
  border: solid red 5 px;
  height: 63px;
  box-sizing: border-box;
  padding: 0 0 0 15px;
  display: block;
  width: 100%;
  cursor: pointer;
}
.lable {
  height: 15px;
  margin: 0 0 0 5px;

}
.name_dialog {
  height: 50px;
  border: solid red 5 px;
}